/* .MuiFormControlLabel-root{
  
} */

/* .MuiRadio-checked {
  color: purple;
} */


/* input[type="radio"]{
  display: none;
}
  */



.labelBox:checked {
  /* position: relative; */
  background-color: #01cc65;
  /* border: 2px solid #01cc65; */
}